include ../mixins.pug

footer.page-footer
  .container.page-footer__wrapper
    .page-footer__heading
      .page-footer__copyright.copyright
        a(href="#" title="Developed by XeniaWeb").copyright__link &copy;&nbsp;2020
      .page-footer__title
        h2.page-footer__name Xenia Bürki
        p.page-footer__desc Личный сайт <br> веб-разработчика
    .page-footer__content
      .page-footer__nav
        ul.main-nav.main-nav--footer
          each item in mainMenu
            li(class="main-nav__item" + `${item.status}`).main-nav__item.main-nav__item--footer
              a(href=`#${item.path}`) #{item.text}

      .page-footer__info-block
        .page-footer__info
          p.page-footer__desc.
            Этот сайт был сделан мной в рамках обучения в Школе онлайн образования Loftschool
          .page-footer__social
            ul.social
              each item in socialList
                li.social__item.social__item--footer
                  a(href=item.path target="_blank").social__link.social__link--footer
                    span.visually-hidden Я в #{item.net}
                    +icon(item.icon, "social__icon", 30, 30)
        .page-footer__text
          article.aphorism
            .aphorism__text
              p.
                Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
            address.aphorism__author Martin Golding
