include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
    link(rel="stylesheet" href="css/style.css")

  body
    .body-wrapper
      .home-section#home
        .home-section__wrapper
          header.page-header
            a.page-header__logo-link(href="#") XW
            .page-header__main-nav
              ul.main-nav
                include variables.pug
                  each item in mainMenu
                    li.main-nav__item
                      a(href=`#${item.path}`) #{item.text}
            .page-header__social
              ul.social
                include var-social.pug
                  each item in socialList
                    li.social__item
                      a(href=item.path).social__link.visually-hidden
                        +icon(item.icon, "social__icon")
          section.hero
            .hero__title
              .long-title
                h1.long-title__name Xenia Bürki&#8195;
                  span.long-title__desc Личный сайт веб-разработчика
            .hero__btn
              button.scroll-btn Скролл
                +icon("scroll", "scroll-btn__icon", 30, 30)
          section#about.about
            .about__left
              .user-info
                .user-info__avatar.avatar
                  +image("user.jpg", "avatar__image", "Photo Xenia Bürki", 211, 211)
                .user-info__content
                  -
                    var userInfo = [
                    ['Проживаю', 'Швейцария'],
                    ['Образование', 'Высшее'],
                    ['Родилась', 'СССР']
                    ];
                  table.user-info__data
                    tbody.user-info__body
                      each row in userInfo
                        tr
                          td #{row[0]}
                          td #{row[1]}

            .about__right
      section#skills.skills
      section#works.works
      .meet-section
        .meet-section__wrapper
          section#reviews.reviews
          section#connect.connect
      footer.page-footer
        .page-footer__wrapper
          .page-footer__title
            .long-title
              h2.long-title__name Oksana Bürki&#8195;
              p.long-title__desc Личный сайт веб-разработчика
          .page-footer__content
            .page-footer__nav
              ul.main-nav
                include variables.pug
                  each item in mainMenu
                    li.main-nav__item
                      a(href=`#${item.path}`) #{item.text}
            .page-footer__info
              p.page-footer__desc.
                Этот сайт был сделан мной в рамках обучения в Школе онлайн образования Loftschool
              .page-footer__social
                ul.social
                  include var-social.pug
                    each item in socialList
                      li.social__item
                        a(href=item.path).social__link.visually-hidden
                          +icon(item.icon, "social__icon")
            .page-footer__text
              article.aphorism
                p.aphorism__text.
                  Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
                address.aphorism__author Martin Golding



