mixin icon(name, className, width, height)
  - var icon = require(`images/icons/${name}.svg`);
  svg(class=className width=width height=height viewBox=icon.viewBox preserveAspectRatio="none")
    use(xlink:href=icon.url)

mixin image(path, className, alt, width, height)
  img(src=require(`images/content/${path}`) class=className alt=alt width=width height=height)
